<section class="content">
    <div class="slider">
        <button class="slider__next"></button>
        <button class="slider__prev"></button>
        <ul class="slider__in">
            <li>
                <section class="slider__img slider__img_1 slider__img_black">
                    <article>
                        <h3>Добро пожаловать</h3>
                    </article>
                </section>
            </li>
            <li>
                <section class="slider__img slider__img_2">
                    <article>
                        <h2>Южная Италия</h2>
                        <h3>Амальфитанское
                            побережье</h3>
                    </article>
                </section>
            </li>
            <li>
                <section class="slider__img slider__img_3 slider__img_black slider__img_tl">
                    <article>
                        <h2>Швейцария</h2>
                        <h3>Женева</h3>
                    </article>
                </section>
            </li>
            <li>
                <section class="slider__img slider__img_4 slider__img_black">
                    <article>
                        <h2>Малайзия</h2>
                        <h3>Остров Лангкави</h3>
                    </article>
                </section>
            </li>
            <li>
                <section class="slider__img slider__img_5">
                    <article>
                        <h2>Италия</h2>
                        <h3>Остров Капри</h3>
                    </article>
                </section>
            </li>
        </ul>

    </div>
</section>