$fontHelvectica:"helveticaneuecyrultralight";
$fontPragmatica:"PragmaticaRegular";
$fontMinionPro:"MinionProRegular";
$fontHogarth:"HogarthScript";
$fontAllegretto:"Allegretto Script One";
$wrapper-width:1120px;
$bgColor:#042131;
$textColor:#d9dcdf;
$linkColor: #519fff;
$slideHeight:760px;





